In [1]:
import numpy as np
import pandas as pd

In [3]:
df = pd.read_csv(r"C:\Users\HARSH\Desktop\python dataset\emotion_nlp.csv")

In [4]:
df.head()

                                                Text Emotions
0                            i didnt feel humiliated  sadness
1  i can go from feeling so hopeless to so damned...  sadness
2   im grabbing a minute to post i feel greedy wrong    anger
3  i am ever feeling nostalgic about the fireplac...     love
4                               i am feeling grouchy    anger

In [5]:
df.shape

(17999, 2)

In [6]:
df.Emotions.value_counts()

joy         6056
sadness     5247
anger       2434
fear        2161
love        1463
surprise     638
Name: Emotions, dtype: int64

In [7]:
df.isnull().sum()

Text        0
Emotions    0
dtype: int64

In [8]:
df = df.rename(columns = ({"Emotions" : "Y" , "Text" : "X"}))
df.head()

                                                   X        Y
0                            i didnt feel humiliated  sadness
1  i can go from feeling so hopeless to so damned...  sadness
2   im grabbing a minute to post i feel greedy wrong    anger
3  i am ever feeling nostalgic about the fireplac...     love
4                               i am feeling grouchy    anger

In [9]:
df.Y.value_counts()

joy         6056
sadness     5247
anger       2434
fear        2161
love        1463
surprise     638
Name: Y, dtype: int64

In [16]:
df.Y.unique()

array(['sadness', 'anger', 'love', 'surprise', 'fear', 'joy'],
      dtype=object)

In [17]:
df.Y.replace({'sadness':0, 'anger':1, 'love':2, 'surprise':3, 'fear':4, 'joy':5},inplace=True)

In [19]:
df.X = df.X.str.lower() # Mandtory # # convert all text to lower case mandatory step
df

                                                       X  Y
0                                i didnt feel humiliated  0
1      i can go from feeling so hopeless to so damned...  0
2       im grabbing a minute to post i feel greedy wrong  1
3      i am ever feeling nostalgic about the fireplac...  2
4                                   i am feeling grouchy  1
...                                                  ... ..
17994  i just keep feeling like someone is being unki...  1
17995  im feeling a little cranky negative after this...  1
17996  i feel that i am useful to my people and that ...  5
17997  im feeling more comfortable with derby i feel ...  5
17998  i feel all weird when i have to meet w people ...  4

[17999 rows x 2 columns]

In [11]:
import nltk # nltk - natural language toolkit

In [12]:
from nltk.corpus import stopwords

In [13]:
import string
string.punctuation

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [14]:
l1 = stopwords.words("english")

In [15]:
def text_process(mess):            ### creating a function

    """                                                        ## a docstring

    1. remove the punctuation

    2. remove the stopwords

    3. return the list of clean textwords

    

    """

    nopunc = [char for char in mess if char not in string.punctuation]

    nopunc = "".join(nopunc)

    

    return [ word for word in nopunc.split() if word not in l1]

In [20]:
from sklearn.feature_extraction.text import CountVectorizer

In [21]:
bow_transformer = CountVectorizer(analyzer = text_process).fit(df["X"])

In [22]:
bow_transformer.vocabulary_

{'didnt': 3834,
 'feel': 5205,
 'humiliated': 6786,
 'go': 5997,
 'feeling': 5209,
 'hopeless': 6687,
 'damned': 3392,
 'hopeful': 6685,
 'around': 726,
 'someone': 13096,
 'cares': 2062,
 'awake': 974,
 'im': 6920,
 'grabbing': 6058,
 'minute': 8934,
 'post': 10731,
 'greedy': 6120,
 'wrong': 15877,
 'ever': 4830,
 'nostalgic': 9576,
 'fireplace': 5342,
 'know': 7832,
 'still': 13463,
 'property': 11032,
 'grouchy': 6160,
 'ive': 7442,
 'little': 8241,
 'burdened': 1870,
 'lately': 7950,
 'wasnt': 15482,
 'sure': 13811,
 'taking': 13975,
 'milligrams': 8890,
 'times': 14361,
 'recommended': 11455,
 'amount': 484,
 'fallen': 5093,
 'asleep': 798,
 'lot': 8351,
 'faster': 5140,
 'also': 429,
 'like': 8164,
 'funny': 5747,
 'confused': 2837,
 'life': 8137,
 'teenager': 14091,
 'jaded': 7458,
 'year': 15934,
 'old': 9767,
 'man': 8527,
 'petronas': 10378,
 'years': 15942,
 'performed': 10304,
 'well': 15573,
 'made': 8463,
 'huge': 6763,
 'profit': 10985,
 'romantic': 11990,
 'make': 8501,
 'suffering': 13716,
 'seeing': 12391,
 'mean': 8709,
 'something': 13100,
 'running': 12076,
 'divine': 4068,
 'experience': 4964,
 'expect': 4953,
 'type': 14778,
 'spiritual': 13243,
 'encounter': 4614,
 'think': 14249,
 'easiest': 4381,
 'time': 14356,
 'dissatisfied': 4021,
 'low': 8381,
 'energy': 4649,
 'thirsty': 14257,
 'immense': 6943,
 'sympathy': 13927,
 'general': 5843,
 'point': 10623,
 'possible': 10729,
 'proto': 11063,
 'writer': 15869,
 'trying': 14695,
 'find': 5317,
 'write': 15868,
 'corners': 3045,
 'sign': 12724,
 'agent': 297,
 'let': 8096,
 'alone': 419,
 'publishing': 11123,
 'contract': 2963,
 'feels': 5213,
 'precious': 10803,
 'reassured': 11411,
 'anxiety': 603,
 'side': 12703,
 'really': 11398,
 'embarrassed': 4541,
 'pretty': 10888,
 'pathetic': 10189,
 'started': 13384,
 'sentimental': 12458,
 'dolls': 4108,
 'child': 2327,
 'began': 1229,
 'collection': 2610,
 'vintage': 15310,
 'barbie': 1104,
 'sixties': 12805,
 'compromised': 2761,
 'skeptical': 12817,
 'value': 15174,
 'every': 4834,
 'unit': 14966,
 'work': 15807,
 'put': 11182,
 'irritated': 7401,
 'rejected': 11566,
 'without': 15754,
 'anyone': 609,
 'anything': 611,
 'saying': 12227,
 'completely': 2736,
 'overwhelmed': 9998,
 'two': 14770,
 'strategies': 13538,
 'help': 6492,
 'grounded': 6162,
 'pour': 10759,
 'heart': 6432,
 'journal': 7599,
 'form': 5569,
 'letter': 8102,
 'god': 6001,
 'end': 4621,
 'list': 8220,
 'five': 5362,
 'things': 14247,
 'grateful': 6103,
 'amused': 495,
 'delighted': 3607,
 'able': 26,
 'chai': 2206,
 'lifeline': 8138,
 'support': 13792,
 'encouragement': 4618,
 'great': 6113,
 'glad': 5944,
 'already': 427,
 'fucked': 5711,
 'though': 14270,
 'dont': 4125,
 'usually': 15136,
 'eat': 4388,
 'morning': 9114,
 'love': 8368,
 'wish': 15737,
 'best': 1317,
 'longer': 8311,
 'tolerate': 14421,
 'effect': 4442,
 'bm': 1533,
 'lives': 8250,
 'fact': 5063,
 'turned': 14736,
 'bitter': 1410,
 'angry': 538,
 'person': 10339,
 'always': 448,
 'particularly': 10145,
 'kind': 7778,
 'people': 10282,
 'stressed': 13554,
 'inhibited': 7155,
 'elses': 4523,
 'kitchen': 7797,
 'painting': 10060,
 'picture': 10443,
 'become': 1204,
 'defeated': 3559,
 'kinda': 7779,
 'appalled': 640,
 'needs': 9390,
 'explain': 4974,
 'wide': 15665,
 'lenghth': 8072,
 'body': 1551,
 'measures': 8720,
 'etc': 4789,
 'pp': 10770,
 'superior': 13772,
 'dead': 3474,
 'chicken': 2322,
 'grieving': 6136,
 'get': 5890,
 'giddy': 5910,
 'elegant': 4500,
 'perfectly': 10300,
 'fitted': 5360,
 'pencil': 10269,
 'skirt': 12840,
 'remember': 11632,
 'acutely': 161,
 'distressed': 4047,
 'days': 3463,
 'seen': 12401,
 'heard': 6428,
 'read': 11370,
 'past': 10176,
 'couple': 3099,
 'left': 8041,
 'impressed': 6984,
 'companies': 2702,
 'climbed': 2494,
 'hill': 6564,
 'frustrated': 5704,
 'id': 6862,
 'much': 9200,
 'paced': 10023,
 'entirely': 4704,
 'course': 3105,
 'factor': 5064,
 'never': 9448,
 'hampered': 6277,
 'dent': 3650,
 'day': 3457,
 'imagine': 6928,
 'real': 11383,
 'scenario': 12257,
 'would': 15843,
 'emotionally': 4571,
 'connected': 2852,
 'enough': 4676,
 'totally': 14479,
 'accepted': 71,
 'safe': 12125,
 'morally': 9101,
 'acceptable': 68,
 'close': 2514,
 'prolonged': 11011,
 'physical': 10420,
 'contact': 2924,
 'sex': 12515,
 'expected': 4956,
 'subsequently': 13676,
 'content': 2942,
 'need': 9381,
 'creative': 3183,
 'however': 6744,
 'want': 15443,
 'causing': 2142,
 'less': 8089,
 'splendid': 13254,
 'self': 12418,
 'step': 13434,
 'away': 981,
 'bit': 1397,
 'rude': 12052,
 'writing': 15873,
 'elderly': 4490,
 'gentleman': 5863,
 'ask': 794,
 'gifts': 5914,
 'christmas': 2382,
 'mild': 8877,
 'greed': 6119,
 'protected': 11053,
 'small': 12931,
 'season': 12361,
 'words': 15805,
 'plan': 10533,
 'share': 12556,
 'everyday': 4838,
 'stories': 13506,
 'traveling': 14591,
 'adventures': 238,
 'inspirations': 7217,
 'handmade': 6293,
 'creations': 3182,
 'hope': 6683,
 'inspired': 7219,
 'trees': 14615,
 'got': 6043,
 'festive': 5243,
 'spurring': 13311,
 'book': 1592,
 'worn': 15825,
 'concealer': 2770,
 'brave': 1696,
 'pale': 10074,
 'perfect': 10298,
 'strongly': 13590,
 'passionate': 10171,
 'jerk': 7524,
 'decides': 3516,
 'poke': 10632,
 'fun': 5733,
 'us': 15119,
 'discouraged': 3942,
 'robbing': 11957,
 'peter': 10375,
 'pay': 10217,
 'paul': 10207,
 'cow': 3123,
 'cant': 2007,
 'afford': 274,
 'way': 15504,
 'listless': 8230,
 'new': 9453,
 'different': 3844,
 'lost': 8350,
 'special': 13193,
 'mind': 8903,
 'worry': 15828,
 'sane': 12173,
 'wanted': 15445,
 'felt': 5222,
 'reading': 11375,
 'many': 8570,
 'said': 12132,
 'sam': 12155,
 'guarantee': 6183,
 'used': 15126,
 'paragraph': 10110,
 'tell': 14106,
 'sad': 12114,
 'first': 5349,
 'home': 6638,
 'mine': 8909,
 'boat': 1540,
 'trip': 14650,
 'denmark': 3644,
 'stopped': 13499,
 'cold': 2592,
 'hot': 6724,
 'dough': 4166,
 'found': 5594,
 'selfish': 12419,
 'spoiled': 13261,
 'stymied': 13646,
 'wrote': 15882,
 'unsure': 15049,
 'might': 8869,
 'somewhere': 13106,
 'story': 13511,
 'unintended': 14958,
 'bag': 1047,
 'qaf': 11196,
 'look': 8319,
 'cryin': 3280,
 'jacynthe': 7457,
 'lookin': 8321,
 'good': 6022,
 'feelin': 5208,
 'gorgeous': 6038,
 'rupaul': 12079,
 'skins': 12835,
 'scissor': 12294,
 'sisters': 12790,
 'valentine': 15164,
 'sun': 13753,
 'fed': 5189,
 'kayle': 7717,
 'daddy': 3371,
 'gerling': 5878,
 'unkind': 14977,
 'u': 14786,
 'basically': 1138,
 'fake': 5090,
 'realm': 11399,
 'science': 12287,
 'fiction': 5260,
 'hate': 6368,
 'living': 8253,
 'dads': 3373,
 'roof': 11997,
 'gives': 5941,
 'excuse': 4904,
 'asshole': 824,
 'hes': 6527,
 'providing': 11077,
 'live': 8243,
 'unwelcome': 15064,
 'ill': 6906,
 'leave': 8029,
 'keep': 7720,
 'pleasantly': 10576,
 'surprised': 13826,
 'supportiveness': 13798,
 'ease': 4377,
 'situations': 12802,
 'anymore': 608,
 'vigorous': 15298,
 'sexual': 12519,
 'activity': 151,
 'coming': 2660,
 'yes': 15952,
 'misspelt': 8975,
 'cumming': 3306,
 'parts': 10154,
 'begin': 1232,
 'fall': 5092,
 'mom': 9043,
 'graceful': 6061,
 'warm': 15457,
 'loving': 8379,
 'smile': 12947,
 'rob': 11955,
 'nurture': 9639,
 'heal': 6417,
 'talk': 13984,
 'brother': 1778,
 'law': 7979,
 'extremely': 5026,
 'popular': 10683,
 'one': 9791,
 'stiff': 13458,
 'ate': 854,
 'could': 3075,
 'gentle': 5862,
 'tingle': 14369,
 'throughout': 14302,
 'almost': 417,
 'healing': 6420,
 'place': 10524,
 'cellular': 2176,
 'level': 8107,
 'pressured': 10873,
 'young': 15975,
 'beautiful': 1199,
 'thin': 14245,
 'depending': 3665,
 'trend': 14621,
 'girls': 5934,
 'rejuvenated': 11572,
 'butt': 1908,
 'implants': 6966,
 'several': 12510,
 'week': 15544,
 'tortured': 14469,
 'hallucinations': 6271,
 'moving': 9182,
 'figures': 5288,
 'sounds': 13157,
 'vibrations': 15270,
 'nearly': 9370,
 'finished': 5329,
 'detox': 3764,
 'amazing': 452,
 'back': 1019,
 'former': 5574,
 'posts': 10740,
 'asked': 795,
 'prayers': 10794,
 'others': 9898,
 'considered': 2882,
 'may': 8687,
 'deserve': 3703,
 'answered': 580,
 'pain': 10051,
 'parents': 10126,
 'enraged': 4679,
 'becomes': 1205,
 'violent': 15314,
 'roller': 11983,
 'coaster': 2555,
 'emotions': 4574,
 'supposed': 13801,
 'feelings': 5212,
 'unpleasant': 15004,
 'suppose': 13800,
 'truth': 14688,
 'shared': 12557,
 'havent': 6386,
 'faithful': 5086,
 'dwelled': 4343,
 'doubt': 4159,
 'uncertainty': 14837,
 'faith': 5085,
 'bought': 1635,
 'clearly': 2474,
 'makeup': 8506,
 'miserable': 8949,
 'c': 1927,
 'proudest': 11066,
 'mum': 9228,
 'earth': 4373,
 'figure': 5286,
 'family': 5106,
 'loves': 8377,
 'matter': 8673,
 'else': 4522,
 'michelle': 8852,
 'goes': 6009,
 'ballistic': 1070,
 'necessarily': 9374,
 'f': 5046,
 'bombs': 1575,
 'necessary': 9375,
 'see': 12387,
 'print': 10923,
 'journals': 7605,
 'ovaries': 9943,
 'aching': 122,
 'talking': 13987,
 'chris': 2374,
 'mostly': 9130,
 'took': 14447,
 'pictures': 10445,
 'unimportant': 14950,
 'stuff': 13620,
 'tired': 14383,
 'ready': 11380,
 'finding': 5318,
 'given': 5939,
 'unsuitable': 15045,
 'images': 6924,
 'blamed': 1434,
 'result': 11801,
 'sit': 12791,
 'successfully': 13697,
 'manage': 8528,
 'stretch': 13559,
 'mxm': 9279,
 'canvas': 2012,
 'achievement': 119,
 'worthwhile': 15839,
 'usage': 15121,
 'money': 9064,
 'use': 15125,
 'future': 5757,
 'briefs': 1744,
 'nay': 9362,
 'important': 6975,
 'honored': 6673,
 'influence': 7123,
 'talented': 13979,
 'fully': 5729,
 'alive': 393,
 'girl': 5930,
 'woman': 15778,
 'angered': 533,
 'firey': 5344,
 'piece': 10449,
 'garbage': 5794,
 'leanne': 8015,
 'thought': 14271,
 'miss': 8965,
 'drove': 4263,
 'dannika': 3414,
 'school': 12280,
 'rushed': 12084,
 'greeted': 6125,
 'corner': 3044,
 'hellip': 6489,
 'furious': 5749,
 'shooter': 12637,
 'happy': 6322,
 'excited': 4895,
 'since': 12760,
 'learned': 8020,
 'shows': 12680,
 'show': 12671,
 'horses': 6712,
 'trusting': 14684,
 'relaxed': 11589,
 'quiet': 11226,
 'handled': 6291,
 'frequently': 5659,
 'start': 13383,
 'december': 3509,
 'done': 4120,
 'smug': 12970,
 'realize': 11394,
 'everything': 4842,
 'ok': 9762,
 'worthless': 15837,
 'struggling': 13602,
 'lay': 7986,
 'bed': 1210,
 'dark': 3420,
 'terrified': 14155,
 'least': 8027,
 'meet': 8748,
 'airport': 343,
 'supportive': 13797,
 'arms': 722,
 'today': 14402,
 'mood': 9086,
 'strange': 13528,
 'entire': 4702,
 'guess': 6189,
 'mums': 9233,
 'passed': 10161,
 'involved': 7366,
 'car': 2033,
 'accident': 79,
 'bringing': 1752,
 'present': 10858,
 'exams': 4876,
 'flying': 5487,
 'colours': 2630,
 'letting': 8104,
 'animosity': 549,
 'towards': 14507,
 'wronged': 15878,
 'dogs': 4101,
 'cannot': 2002,
 'understand': 14875,
 'decided': 3514,
 'throwing': 14304,
 'shitty': 12622,
 'shit': 12620,
 'paper': 10102,
 'starting': 13387,
 'wryly': 15884,
 'banal': 1080,
 'comedy': 2647,
 'errors': 4759,
 'turning': 14737,
 'vital': 15339,
 'bodies': 1548,
 'hear': 6427,
 'owners': 10010,
 'victimized': 15277,
 'associations': 837,
 'attorneys': 908,
 'manager': 8532,
 'say': 12226,
 'goodbye': 6023,
 'fam': 5100,
 'theyre': 14235,
 'crying': 3281,
 'heartless': 6444,
 'bitch': 1398,
 'hey': 6535,
 'spend': 13219,
 'another': 576,
 'country': 3095,
 'wont': 15792,
 'cry': 3279,
 'lily': 8176,
 'going': 6011,
 'opportunities': 9830,
 'lasted': 7946,
 'short': 12646,
 'months': 9084,
 'alba': 362,
 'fitting': 5361,
 'ton': 14434,
 'catching': 2122,
 'word': 15804,
 'helps': 6499,
 'hard': 6328,
 'works': 15819,
 'obtain': 9692,
 'high': 6549,
 'technical': 14077,
 'skill': 12823,
 'wushu': 15890,
 'ashamed': 783,
 'somehow': 13093,
 'motivated': 9139,
 'saw': 12225,
 'kids': 7764,
 'performances': 10303,
 'whole': 15647,
 'heartedly': 6443,
 'despite': 3728,
 'tiredness': 14384,
 'getting': 5895,
 'overwhelming': 9999,
 'spritz': 13305,
 'toner': 14437,
 'calm': 1964,
 'soothe': 13128,
 'effort': 4456,
 'required': 11719,
 'better': 1328,
 'situation': 12801,
 'whether': 15612,
 'member': 8770,
 'college': 2614,
 'friend': 5672,
 'neighbor': 9404,
 'street': 13546,
 'even': 4822,
 'complete': 2734,
 'stranger': 13530,
 'tree': 14614,
 'soon': 13119,
 'goings': 6012,
 'ons': 9800,
 'coronation': 3048,
 'seriously': 12483,
 'alright': 428,
 'class': 2449,
 'combination': 2636,
 'unsuccessful': 15044,
 'stress': 13553,
 'late': 7949,
 'horrible': 6703,
 'resulted': 11802,
 'grappling': 6098,
 'rarely': 11330,
 'advances': 234,
 'cause': 2139,
 'stick': 13452,
 'rule': 12066,
 'posting': 10736,
 'online': 9798,
 'wouldnt': 15844,
 'prepared': 10847,
 'somebodys': 13091,
 'face': 5053,
 'useful': 15127,
 'pains': 10056,
 'becoming': 1206,
 'group': 6165,
 'idea': 6865,
 'ugly': 14798,
 'inclined': 7035,
 'wear': 15518,
 'ratty': 11342,
 'jeans': 7508,
 'sweatshirt': 13881,
 'dress': 4229,
 'pair': 10063,
 'heels': 6471,
 'house': 6733,
 'boost': 1601,
 'esteem': 4782,
 'slightly': 12886,
 'definitely': 3580,
 'bother': 1624,
 'buy': 1917,
 'homesick': 6652,
 'yet': 15955,
 'dance': 3398,
 'workout': 15816,
 'fabulous': 5052,
 'eyes': 5042,
 'touch': 14485,
 'assuredly': 847,
 'return': 11824,
 'shall': 12540,
 'vain': 15162,
 'friday': 5669,
 'awful': 987,
 'cramps': 3150,
 'honoured': 6674,
 'call': 1956,
 'friends': 5675,
 'brotherhood': 1779,
 'begun': 1237,
 'apprehensive': 670,
 'thick': 14239,
 'black': 1419,
 'rain': 11284,
 'clouds': 2528,
 'stormed': 13508,
 'sky': 12844,
 'town': 14512,
 'stated': 13398,
 'reason': 11405,
 'fearful': 5173,
 'unsafe': 15027,
 'shaken': 12536,
 'tsa': 14697,
 'quite': 11238,
 'pulled': 11128,
 'croissants': 3235,
 'lunch': 8421,
 'groups': 6166,
 'awkward': 990,
 'overcompensate': 9955,
 'talkative': 13985,
 'finally': 5310,
 'companion': 2703,
 'especially': 4771,
 'lonely': 8306,
 'disappoint': 3907,
 'loved': 8371,
 'blog': 1483,
 'img': 6935,
 'src': 13333,
 'http': 6753,
 'eager': 4353,
 'quilting': 11232,
 'horny': 6701,
 'lets': 8100,
 'poem': 10616,
 'pressure': 10872,
 'uncomfortable': 14844,
 'sense': 12445,
 'understanding': 14878,
 'land': 7914,
 'raising': 11293,
 'son': 13107,
 'father': 5148,
 'ancestral': 512,
 'shower': 12675,
 'questioning': 11220,
 'fantastic': 5120,
 'confident': 2820,
 'movement': 9175,
 'effortlessly': 4458,
 'energetic': 4642,
 'bouncy': 1642,
 'gym': 6231,
 'run': 12070,
 'outside': 9932,
 'take': 13968,
 'pram': 10785,
 'long': 8308,
 'walk': 15418,
 'often': 9752,
 'three': 14284,
 'strong': 13587,
 'burst': 1891,
 'tears': 14068,
 'devastating': 3772,
 'release': 11592,
 'thoughts': 14274,
 'seemed': 12397,
 'rich': 11884,
 'space': 13168,
 'dumping': 4317,
 'pumpkin': 11139,
 'spice': 13225,
 'latte': 7958,
 'last': 7945,
 'thing': 14246,
 'coffee': 2572,
 'maybe': 8688,
 'badly': 1042,
 'shes': 12592,
 'hyperchondria': 6835,
 'exaggeration': 4868,
 'habit': 6237,
 'openly': 9815,
 'questioned': 11219,
 'clench': 2477,
 'assured': 846,
 'called': 1958,
 'figured': 5287,
 'right': 11900,
 'name': 9315,
 'utterly': 15149,
 'affirmed': 273,
 'question': 11217,
 'perhaps': 10310,
 'office': 9740,
 'nice': 9475,
 'hair': 6255,
 'rebellious': 11418,
 'celebrates': 2164,
 'eid': 4473,
 'wash': 15477,
 'generous': 5856,
 'sleep': 12866,
 'deprived': 3682,
 'sleeping': 12868,
 'night': 9494,
 'giving': 5942,
 'bloging': 1488,
 'sitting': 12799,
 'amp': 487,
 'cat': 2117,
 'lucky': 8402,
 'woke': 15775,
 'sick': 12698,
 'dog': 4100,
 'protect': 11052,
 'witch': 15746,
 'hunt': 6807,
 'repressed': 11702,
 'memory': 8779,
 'therapy': 14224,
 'disgusted': 3964,
 'associated': 835,
 'race': 11253,
 'nationality': 9346,
 'laughed': 7963,
 'bitterly': 1411,
 'wished': 15738,
 'knew': 7818,
 'hated': 6369,
 'forever': 5556,
 'mellow': 8759,
 'soft': 13057,
 'easy': 4386,
 'beginning': 1233,
 'told': 14419,
 'indecisive': 7064,
 'genre': 5860,
 'disservice': 4023,
 'resolved': 11757,
 'artifically': 757,
 'artistic': 763,
 'manitz': 8556,
 'draw': 4209,
 'circle': 2414,
 'dot': 4153,
 'bigger': 1356,
 'line': 8191,
 'accent': 65,
 'mark': 8594,
 'spanish': 13175,
 'pissed': 10503,
 'brazil': 1700,
 'bus': 1896,
 'steep': 13425,
 'mountain': 9158,
 'hills': 6566,
 'middle': 8858,
 'big': 1354,
 'storm': 13507,
 'wondering': 15788,
 'whimper': 15616,
 'unloved': 14990,
 'uncared': 14833,
 'certainly': 2196,
 'whats': 15598,
 'personal': 10341,
 'curious': 3317,
 'youd': 15973,
 'watch': 15487,
 'sorry': 13141,
 'humor': 6792,
 'foot': 5528,
 'door': 4136,
 'world': 15821,
 'walking': 15421,
 'trails': 14539,
 'fells': 5221,
 'mountains': 9159,
 'whatever': 15595,
 'comes': 2649,
 'directly': 3889,
 'jealous': 7503,
 'insecure': 7194,
 'trust': 14682,
 'worthy': 15840,
 'sweet': 13887,
 'holiday': 6622,
 'influenced': 7124,
 'dash': 3431,
 'happiness': 6319,
 'emily': 4560,
 'dickinson': 3829,
 'example': 4874,
 'dashes': 3434,
 'instead': 7228,
 'colons': 2620,
 'semi': 12428,
 'enhance': 4662,
 'enjambment': 4663,
 'sonnet': 13114,
 'fatter': 5154,
 'remain': 11622,
 'control': 2979,
 'peanut': 10236,
 'butter': 1909,
 'bread': 1704,
 'impossible': 6978,
 'looking': 8322,
 'third': 14256,
 'hell': 6487,
 'needy': 9391,
 'neglected': 9399,
 'claim': 2430,
 'redeem': 11480,
 'beating': 1195,
 'head': 6400,
 'wall': 15423,
 'either': 4480,
 'classes': 2450,
 'intimidated': 7319,
 'concept': 2775,
 'lit': 8232,
 'groggy': 6153,
 'routine': 12031,
 'view': 15289,
 'isnt': 7414,
 'thats': 14201,
 'fine': 5320,
 'hold': 6615,
 'shocked': 12627,
 'awe': 982,
 'wonder': 15783,
 'rumour': 12069,
 'st': 13339,
 'exam': 4869,
 'results': 11804,
 'fear': 5171,
 'failures': 5078,
 ...}

In [23]:
# Create a TDM

In [24]:
tdm = bow_transformer.transform(df.X)

In [25]:
tdm.shape

(17999, 16035)

In [26]:
# now TDM will act as X in sampling stage :--

#### Sampling stage:--

In [27]:
from sklearn.model_selection import train_test_split

In [28]:
train_X  , test_X , train_Y  , test_Y = train_test_split(tdm, df.Y , test_size = .20)

#### model building stage:--

####  NAIVE BAYES

In [29]:
from sklearn.naive_bayes import MultinomialNB
nb = MultinomialNB()
nb.fit(train_X , train_Y)

MultinomialNB()

In [31]:
nb_pred = nb.predict(test_X)
nb_pred

array([0, 0, 5, ..., 4, 0, 5], dtype=int64)

In [32]:
from sklearn.metrics import *

In [33]:
tab_nb = confusion_matrix(test_Y , nb_pred)
tab_nb = pd.DataFrame(tab_nb)
tab_nb.columns = ['sadness','anger','love','surprise','fear','joy']
tab_nb.index = ['sadness','anger','love','surprise','fear','joy']
tab_nb

          sadness  anger  love  surprise  fear   joy
sadness       943      8     2         1     4    34
anger          87    328     0         0    12    54
love           42      2    90         0     3   150
surprise       45      2     0        14    26    43
fear           91     22     1         0   256    56
joy            61      7     6         1     9  1200

In [34]:
print(classification_report(test_Y , nb_pred))

              precision    recall  f1-score   support

           0       0.74      0.95      0.83       992
           1       0.89      0.68      0.77       481
           2       0.91      0.31      0.47       287
           3       0.88      0.11      0.19       130
           4       0.83      0.60      0.70       426
           5       0.78      0.93      0.85      1284

    accuracy                           0.79      3600
   macro avg       0.84      0.60      0.64      3600
weighted avg       0.80      0.79      0.76      3600

#### Logistic Regression Model :--

In [35]:
from sklearn.linear_model import LogisticRegression
logreg = LogisticRegression(class_weight='balanced')
logreg.fit(train_X , train_Y)
pred_logreg = logreg.predict(test_X)

C:\Users\HARSH\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

In [36]:
tab_logreg = confusion_matrix(test_Y , pred_logreg)
tab_logreg = pd.DataFrame(tab_logreg)
tab_logreg.columns = ['sadness','anger','love','surprise','fear','joy']
tab_logreg.index = ['sadness','anger','love','surprise','fear','joy']
tab_logreg

          sadness  anger  love  surprise  fear   joy
sadness       912     29     9         4    18    20
anger          16    430     3         0    18    14
love            1      4   260         0     0    22
surprise        1      0     2       103    20     4
fear           16     20     3        24   356     7
joy            19      8    71        18    12  1156

In [37]:
print(classification_report(test_Y , pred_logreg))

              precision    recall  f1-score   support

           0       0.95      0.92      0.93       992
           1       0.88      0.89      0.88       481
           2       0.75      0.91      0.82       287
           3       0.69      0.79      0.74       130
           4       0.84      0.84      0.84       426
           5       0.95      0.90      0.92      1284

    accuracy                           0.89      3600
   macro avg       0.84      0.87      0.86      3600
weighted avg       0.90      0.89      0.90      3600

#### Building Decision Tree :--

In [51]:
from sklearn.tree import DecisionTreeClassifier
dt = DecisionTreeClassifier()

In [52]:
dt.fit(train_X ,train_Y)

DecisionTreeClassifier()

In [53]:
pred_dt = dt.predict(test_X)

In [54]:
tab_dt = confusion_matrix(test_Y , pred_dt)
tab_dt= pd.DataFrame(tab_dt)
tab_dt.columns = ['sadness','anger','love','surprise','fear','joy']
tab_dt.index = ['sadness','anger','love','surprise','fear','joy']
tab_dt

          sadness  anger  love  surprise  fear   joy
sadness       910     34     9        11    17    11
anger          25    411     3         1    28    13
love            2      4   223         1     2    55
surprise        3      0     0       104    16     7
fear           22     26     2        25   345     6
joy            48     16    58        13    17  1132

In [55]:
print(classification_report(test_Y , pred_dt))

              precision    recall  f1-score   support

           0       0.90      0.92      0.91       992
           1       0.84      0.85      0.85       481
           2       0.76      0.78      0.77       287
           3       0.67      0.80      0.73       130
           4       0.81      0.81      0.81       426
           5       0.92      0.88      0.90      1284

    accuracy                           0.87      3600
   macro avg       0.82      0.84      0.83      3600
weighted avg       0.87      0.87      0.87      3600

#### Adaboost:-

In [56]:
from sklearn.ensemble import AdaBoostClassifier
abc = AdaBoostClassifier(dt)

In [58]:
abc.fit(train_X,train_Y)
pred_abc = abc.predict(test_X)

In [59]:
tab_abc = confusion_matrix(test_Y , pred_abc)
tab_abc= pd.DataFrame(tab_abc)
tab_abc.columns = ['sadness','anger','love','surprise','fear','joy']
tab_abc.index = ['sadness','anger','love','surprise','fear','joy']
tab_abc

          sadness  anger  love  surprise  fear   joy
sadness       881     23     6         6    13    63
anger          50    371     2         0    18    40
love           22      7   172         0     3    83
surprise        8      1     0        90    21    10
fear           32     23     1        21   321    28
joy            78     10    27        12    13  1144

In [60]:
print(classification_report(test_Y , pred_abc))

              precision    recall  f1-score   support

           0       0.82      0.89      0.85       992
           1       0.85      0.77      0.81       481
           2       0.83      0.60      0.69       287
           3       0.70      0.69      0.69       130
           4       0.83      0.75      0.79       426
           5       0.84      0.89      0.86      1284

    accuracy                           0.83      3600
   macro avg       0.81      0.77      0.78      3600
weighted avg       0.83      0.83      0.83      3600

#### XGBoost Classifier :--

In [61]:
from xgboost import XGBClassifier
xgb = XGBClassifier()
xgb.fit(train_X , train_Y)
pred_xgb = xgb.predict(test_X)

In [62]:
tab_xgb = confusion_matrix(test_Y , pred_xgb)
tab_xgb = pd.DataFrame(tab_xgb )
tab_xgb .columns = ['sadness','anger','love','surprise','fear','joy']
tab_xgb .index = ['sadness','anger','love','surprise','fear','joy']
tab_xgb

          sadness  anger  love  surprise  fear   joy
sadness       897     21    10         8    14    42
anger          16    412     1         0    16    36
love            2      4   239         0     0    42
surprise        1      0     0        95    27     7
fear            8     12     2        11   376    17
joy            15      6    67        17    14  1165

In [63]:
print(classification_report(test_Y , pred_xgb))

              precision    recall  f1-score   support

           0       0.96      0.90      0.93       992
           1       0.91      0.86      0.88       481
           2       0.75      0.83      0.79       287
           3       0.73      0.73      0.73       130
           4       0.84      0.88      0.86       426
           5       0.89      0.91      0.90      1284

    accuracy                           0.88      3600
   macro avg       0.84      0.85      0.85      3600
weighted avg       0.89      0.88      0.89      3600

#### Random Forest:---

In [64]:
from sklearn.ensemble import RandomForestClassifier
rfc = RandomForestClassifier(class_weight='balanced')

In [65]:
rfc.fit(train_X ,train_Y)

RandomForestClassifier(class_weight='balanced')

In [67]:
pred_rfc = rfc.predict(test_X)

In [68]:
tab_rfc = confusion_matrix(test_Y , pred_rfc)
tab_rfc= pd.DataFrame(tab_rfc )
tab_rfc .columns = ['sadness','anger','love','surprise','fear','joy']
tab_rfc .index = ['sadness','anger','love','surprise','fear','joy']
tab_rfc

          sadness  anger  love  surprise  fear   joy
sadness       895     34    11         8    21    23
anger          16    430     0         1    13    21
love            0      3   236         0     1    47
surprise        3      0     0       105    17     5
fear            9     25     3        28   355     6
joy            28     11    59        13    16  1157

In [69]:
print(classification_report(test_Y , pred_rfc))

              precision    recall  f1-score   support

           0       0.94      0.90      0.92       992
           1       0.85      0.89      0.87       481
           2       0.76      0.82      0.79       287
           3       0.68      0.81      0.74       130
           4       0.84      0.83      0.84       426
           5       0.92      0.90      0.91      1284

    accuracy                           0.88      3600
   macro avg       0.83      0.86      0.85      3600
weighted avg       0.89      0.88      0.88      3600

In [74]:
df.shape

(17999, 2)

In [75]:
np.sqrt(17999)

134.1603518182626

#### KNN :--

In [80]:
from sklearn.neighbors import KNeighborsClassifier
knn = KNeighborsClassifier()
knn.fit(train_X,train_Y)

KNeighborsClassifier()

In [81]:
pred_knn = knn.predict(test_X)

In [82]:
tab_knn = confusion_matrix(test_Y , pred_knn)
tab_knn= pd.DataFrame(tab_knn)
tab_knn .columns = ['sadness','anger','love','surprise','fear','joy']
tab_knn .index = ['sadness','anger','love','surprise','fear','joy']
tab_knn

          sadness  anger  love  surprise  fear  joy
sadness       793     47     6         1    25  120
anger         156    232     6         1    17   69
love          104     22    73         2    10   76
surprise       46     10     1        29    18   26
fear          147     48     4        15   150   62
joy           386     47    42         7    40  762

In [83]:
print(classification_report(test_Y , pred_knn))

              precision    recall  f1-score   support

           0       0.49      0.80      0.60       992
           1       0.57      0.48      0.52       481
           2       0.55      0.25      0.35       287
           3       0.53      0.22      0.31       130
           4       0.58      0.35      0.44       426
           5       0.68      0.59      0.64      1284

    accuracy                           0.57      3600
   macro avg       0.57      0.45      0.48      3600
weighted avg       0.59      0.57      0.55      3600

#### SVM :-

In [104]:
from sklearn.svm import SVC
svc= SVC(class_weight='balanced',kernel='poly', degree=3, coef0=1)
svc.fit(train_X ,train_Y)
pred_svc = svc.predict(test_X)

In [105]:
tab_svc = confusion_matrix(test_Y , pred_svc)
tab_svc= pd.DataFrame(tab_svc)
tab_svc .columns = ['sadness','anger','love','surprise','fear','joy']
tab_svc.index = ['sadness','anger','love','surprise','fear','joy']
tab_svc

          sadness  anger  love  surprise  fear   joy
sadness       893     35    14         8    21    21
anger          16    427     4         1    17    16
love            0      3   247         0     1    36
surprise        2      0     2       100    23     3
fear           14     28     6        22   352     4
joy            32     10    73        20    14  1135

In [106]:
print(classification_report(test_Y , pred_svc))

              precision    recall  f1-score   support

           0       0.93      0.90      0.92       992
           1       0.85      0.89      0.87       481
           2       0.71      0.86      0.78       287
           3       0.66      0.77      0.71       130
           4       0.82      0.83      0.82       426
           5       0.93      0.88      0.91      1284

    accuracy                           0.88      3600
   macro avg       0.82      0.85      0.83      3600
weighted avg       0.88      0.88      0.88      3600